html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  background-color: purple;
}
.container{
	margin-bottom: 3%
}

#footer > .container > p{
  color:white;
  margin-top: 1%;
}

.error{
  color:purple;
  font-weight: bold;
}