
#container
{
	height: 100%;
	padding:2%;
	margin:2%;
}
#map-canvas
{
	height:488px;
}
#sidebar a {
	padding: 0%;
	margin: 0%;
}
#header{
	background-color: purple;
	height:100%;
	color:white;
	padding: 1%;
}
#header h2{
	margin:0%;
}
#title{
	margin-bottom: 1%
}
#client-table{
	margin-top:3%;
	height:auto;
}